<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Intake</title>
  </head>
  <body>
    <h1>Sample Bot</h1>
  </body>
  <script src="https://enigmatic-hamlet-75286.herokuapp.com/assets/modules/channel-web/inject.js"></script>
  <script>
  window.botpressWebChat.init({ host: 'https://enigmatic-hamlet-75286.herokuapp.com', botId: 'ost' });
</script>
</html>
